---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ais-ifm
  labels:
    product: actimize
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ais
      tier: web
  template:
    metadata:
      labels:
        app: ais
        tier: web
    spec:
      containers:
        - name: insurance-container
          image: swatig139627/insurance:latest
          ports:
            - containerPort: 8081
              resources: null
          limits:
            cpu: 400m
            memory: 200Mi
          requests:
            cpu: 200m
            memory: 100Mi
