---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment
  labels:
    app: ais
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ais
  template:
    metadata:
      labels:
        app: ais
    spec:
      containers:
        - name: bootcamp-container
          image: swatig139627/insurance:latest
          ports:
            - containerPort: 8081
          resources:
            limits:
              cpu: 1
              memory: 1600Mi
          requests:
            cpu: 500m
            memory: 300Mi
      tolerations:
        - key: node-role.kubernetes.io/control-plane
          effect: NoSchedule

     
