apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment
  labels:
    app: springboot
spec:
  replicas: 2
  selector:
    matchLabels:
      app: springboot
      
  template:
    metadata:
      labels:
        app: springboot
        
    spec:
      containers:
      - name: springboot
        image: swatig139627/insurance:latest
        ports:
        - containerPort: 8081
        resources:
          limits:  
            cpu: 1000m
            memory: 600Mi             
          requests: 
            cpu: 500m
            memory: 300Mi

