---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ais-ifm
  labels:
    product: actimize
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ais
      tier: web
  template:
    metadata:
      labels:
        app: ais
        tier: web
    spec:
      containers:
        - name: insurance-container
          image: swatig139627/insurance:latest
          ports:
            - containerPort: 8081
          resources:
            limits:
              cpu: 200m
              memory: 200Mi
            requests:
              cpu: 100m
              memory: 100Mi
