apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment
  labels:
    app: insurance-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: insurance-app
  template:
    metadata:
      labels:
        app: insurance-app
    spec:
      containers:
      - name: insurance-app
        image: swatig139627/insurance:latest
        ports:
        - containerPort: 8081

