apiVersion: apps/v1
kind: Deployment
metadata:
  name: ais-ifm
  
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ais
      tier: web
  template:
    metadata:
      labels:
        app: ais
        tier: web
    spec:
      containers:
      - name: insurance-container
        image: swatig139627/insurance:latest
        ports:
        - containerPort: 8081
        resources:
          limits:
            cpu: 400m
            memory: 200Mi
          
