---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment
  labels:
    app: springboot-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: springboot-app
  template:
    metadata:
      labels:
        app: springboot-app
    spec:
      containers:
        - name: springboot-app
          image: swatig139627/insurance:latest
          ports:
            - containerPort: 8081
          resources:
            limits:
              cpu: 400m
              memory: 200Mi



          
