---
apiVersion: v1
kind: Service
metadata:
  name: insurance-service
spec:
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8081
  type: NodePort
  selector:
    app: ais
    tier: web
